:root[data-theme="light"] {
    --keyboard-bg: var(--color-gray-300);
    --key-color: var(--color-gray-50);
    --key-text-color: var(--color-black);
}

:root[data-theme="dark"]{
    --keyboard-bg: var(--color-zinc-950);
    --key-color: var(--color-zinc-700);
    --key-text-color: var(--color-white);
}