@import "tailwindcss";

@utility theme-transition {
  @apply transition-colors duration-300
}

:root {
	--theme-transition-duration: 3000ms
}

.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.small-gap {
	gap: 3px 3px
}

.border-0\.5{
	border-style: var(--tw-border-style);
    border-width: 0.5px;
}

